*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/*regole colori*/

:root{
    --primary-color: #3684FD;
    --primary-color-light: #b5ddff;

    --secondary-color: #9792E4;
    --secondary-color-light: #CBC9F1;

    --text-color: black;
    --white-color: white;
    --gray-color: #333;
    --orange-color: #FBC15F;
}

/*REGOLE GENERALI*/

.container{
    max-width: 550px;
    margin: auto;
}

.paddingx-2{
    padding: 0 2rem;
}

.flex{
    display: flex;
}

.flex-rules{
    justify-content: space-between;
    align-items: center;
}

.box{
    padding: 2rem;
}

.radius{
    border-radius: 25px;
}

.text-center{
    text-align: center;
}



/*REGOLE HEADER*/

.nav-header{
    width: 100%;
    margin-bottom: 2rem;
    background-color: var(--primary-color);
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.sidebar-menu{
    display: none;
}

.sidebar-menu ul{
    display: flex;
    list-style: none;
}

.sidebar-menu a{
    text-decoration: none;
    color: var(--white-color);
    padding: 1rem;
}

.sidebar-menu .btn-blu{
    background-color: var(--white-color);
    padding: 0.5rem;
    color: var(--text-color) !important;
}

.hamburger{
    color: var(--white-color);
}



/*REGOLE INTRO MAIN*/

.intro-main .card{
    margin-bottom:1.5rem ;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    background-color: var(--primary-color-light);
}

.intro-main .cards{
    margin-left: -0.75rem;
    margin-right: -0.75rem;
}


.btn-white{
    background-color: var(--primary-color);
    padding: 0.5rem 2rem;
    color: var(--white-color);
    display: inline-block;
    margin-top: 2rem;
}

.text-intro-main .btn-white i{
    font-size: 1rem !important;
    color: var(--white-color) !important;
}

.text-intro-main a{
    text-decoration: none;
}

.image-intro-main img{
    width: 60%;
    padding-top: 2.4rem;
}


.intro-main .card i{
    font-size: 5rem;
    color: var(--primary-color);
}

.intro-main .card h3{
    color: var(--primary-color);
    margin: 1.5rem 0;
}



/*REGOLE PLANNING-MAIN*/

.planning-main{
    background-color: var(--secondary-color);
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.planning-main .column{
    margin: 1rem;
}

.img-planning img{
    width: 100%;
}

.text-planning{
    color: var(--white-color);
    margin: 4rem 1rem;
}

.text-planning h2{
    margin:0 0 2rem 0;
    font-weight: bold;
}

.backcol-white{
    background-color: var(--white-color);
}

.text-planning-app{
    margin: 3rem 0;
}

.text-planning-app h3{
    margin-bottom: 2rem;
}

.text-planning-app p{
    font-style: italic;
    margin-bottom: 2rem;
    line-height: 1.5rem;
}

.text-planning-app .ico-planning{
    background-color: var(--secondary-color);
    border-radius: 50%;
    padding: 1.5rem;
    width: 10px;
    height: 10px;
    display: inline-block;
    position: relative;
}

.ico-planning i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}




/*REGOLE TESTIMONIAL-MAIN*/

.testimonial .card{
    padding: 2rem;
    margin-bottom: 2rem;
    background-color: var(--secondary-color);
}

.testimonial .card-image{
    margin: 1rem;
}

.title-testimonial h2{
    padding: 1rem 0;
    font-size: 2rem;
    color: var(--secondary-color);
}

.title-testimonial span{
    margin-top: 1.5rem;
    display: inline-block;
}

.title-testimonial p{
    margin-bottom: 1.5rem;
}

.card-image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.backimg1{
    background-image: url(../img/testimonial1.jpg);
}

.backimg2{
    background-image: url(../img/testimonial2.jpg);
}

.backimg3{
    background-image: url(../img/testimonial3.jpg);
}

.card-image img{
    width: 100%;
}

.card-text{
    color: var(--white-color);
    font-style: italic;
}

.card-text .text-right{
    margin-top: 1.5rem;
}



/*REGOLE BENEFIT-MAIN*/


.benefit{
    background-color: var(--secondary-color);
    padding-bottom: 2rem;
}

.benefit .title-benefit{
    text-align: center;
    padding: 2rem 0;
    color: var(--white-color);
}

.benefit .card{
    margin-bottom:1.5rem ;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    text-align: left;
    padding: 2rem;
    background-color: var(--white-color);
}

.benefit .cards{
    margin-left: -0.75rem;
    margin-right: -0.75rem;
}

.card h2, .card h3{
    color: var(--secondary-color);
    margin: 1rem 0;
}

.card h2{
    font-size: 2rem;
}

.btn-violet{
    background-color: var(--secondary-color);
    padding: 0.5rem 2rem;
    color: var(--white-color);
    display: inline-block;
    margin-top: 2rem;
}



/*REGOLE COMMENT-MAIN*/


.comment .card{
    margin-bottom:1.5rem ;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    padding: 2rem 0;
}

.comment .cards{
    margin-left: -0.75rem;
    margin-right: -0.75rem;
}

.text-comment p{
    line-height: 2rem;
    padding-top: 2rem;
}

.image-comment{
    background-image: url(../img/about.jpg);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.icon-comment{
    position: absolute;
    top: 0;
    right: 0;
    color: var(--secondary-color);
    font-size: 3rem;
}




/*REGOLE STARTED-MAIN*/


.started{
    background-color: var(--secondary-color);
    padding: 2rem 2rem;
}

.started .box{
    text-align: center;
    margin: 2rem 0;
}

.started .cards *{
    padding-top: 2rem;
}

.started .light-color{
    color: var(--secondary-color-light);
}

.started h3{
    color: var(--white-color);
}

.started h2{
    font-size: 3rem;
    color: var(--orange-color);
}

.started p{
    color: var(--white-color);
    line-height: 1.5rem;
}

.started .end-main p a{
    color: var(--white-color);
}

.started .btn-started{
    background-color: var(--white-color);
    display: inline-block;
    padding: 0.5rem 2rem;
    margin-top: 2rem;
}

.started .end-main p{
    font-size: 0.7rem;
}

.started .end-main p i{
    font-size: 0.3rem;
    position: relative;
    bottom: 2px;
}



/*REGOLE FOOTER*/


.nav-footer{
    background-color: var(--gray-color);
    color: white;
    padding: 2rem 2rem;
}

.nav-footer p{
    text-align: center;
    margin: 2rem 0;
    font-size: 0.9rem;
}

.nav-footer p a{
    color: var(--secondary-color);
}


/*REGOLE MEDIA QUERY*/

/*TABLET*/


@media screen and (min-width: 768px){
    .container{
        max-width: 750px;
    }
    
    .intro-main .cards{
        display: flex;
        flex-wrap: wrap;
    }

    .intro-main .card{
        width: calc(33.333% - 1.5rem);
    }

    .intro-main .card:first-child{
        width: calc(66.666% - 1.5rem);
    }
    
    .testimonial .card{
        display: flex;
    }

    .testimonial .card-text{
        flex-grow:1;
        padding-top: 2rem;
    }

    .testimonial .card-image{
        flex-shrink: 0;
        margin: 0 4rem 0 0;
    }

    .card-text .text-right{
        text-align: left;
        margin-top: 1.5rem;
    }

    .benefit .cards{
        display: flex;
        flex-wrap: wrap;
    }

    .benefit .card{
        width: calc(49.999% - 1.5rem);
    }

    .comment .cards{
        display: flex;
    }

    .comment .card{
        width: calc(49.999% - 1.5rem);
        align-content: flex-end;
    }

    .comment .card:nth-child(2){
        padding: 3rem;
    }

    .started .cards{
        width: 60%;
        margin: auto;
    }

    .nav-footer .container-footer {
       width: 60%;
       margin: auto;
    }

    
}


/*DESKTOP*/

@media screen and (min-width: 992px){
    .container{
        max-width: 950px;
    }

    .hamburger{
        display: none;
    }

    .sidebar-menu{
        display: block;
    }

    .intro-main .card:first-child{
        display: flex;
    }

    .intro-main .card:first-child .box{
        width: 50%;
    }

    .planning-main .columns{
        display: flex;
        align-items: flex-end;
    }

    .planning-main .column{
        width: calc(50% - 4rem);
    }
    
    .image-intro-main img{
        width: 100%;
    }

    .benefit .card{
        width:calc(33.333% - 1.5rem);
    }

    .started .cards{
        width: 40%;
        margin: auto;
    }

    .nav-footer .container-footer {
       width: 40%;
       margin: auto;
    }

}

/*DESKTOP LARGE*/



@media screen and (min-width: 1200px){
    .container{
        max-width: 1150px;
    } 
}



